.study-trail-card {
    padding: 1.5rem;
    border-radius: 10px;
    border: 2px solid var(--learn-secondary-dark);
    background-color: var(--learn-background);
    margin: 1.2rem 0;
}

.study-trail-card .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.study-trail-card .info-area {
    display: block;
}

.study-trail-card .info-area h3 {
    color: var(--learn-white);
    font-size: 1.4rem;
    margin-bottom: .4rem;
}

.study-trail-card .info-area p {
    color: rgba(255, 255, 255, .49);
}

.study-trail-card .actions {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: .85rem;
}

.study-trail-card .actions .info {
    color: rgba(255, 255, 255, .49);
    margin-right: 1rem;
    cursor: pointer;
    transition: .3s;
}

.study-trail-card .actions .info:hover {
    color: rgba(255, 255, 255, 1);
}

.study-trail-card .actions .start {
    color: var(--learn-primary);
    margin-left: .2rem;
    cursor: pointer;
    transition: .3s;
    font-weight: bold;
}

.study-trail-card .description {
    color: var(--learn-white);
    font-size: .85rem;
    line-height: 1.6;
    padding-top: 1rem;
}

.study-trail-card .delete-icon {
    color: var(--learn-white);
    font-size: 1rem;
    margin-left: 1rem;
    cursor: pointer;
}

.collapsed {
    height: 0;
    overflow-y: hidden;
}
