.item-card {
    padding: 1.5rem;
    border-radius: 10px;
    border: 2px solid var(--learn-secondary-dark);
    background-color: var(--learn-background);
    margin: 1.2rem 0;
}

.item-card .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item-card .info-area {
    display: flex;
    align-items: center;
}

.item-card .info-area .item-icon {
    color: var(--learn-secondary);
    font-size: 2.5rem;
}

.item-card .info-area .info {
    margin-left: 1rem;
}

.item-card .info-area .info h3 {
    color: var(--learn-white);
    font-size: 1.4rem;
    margin-bottom: .4rem;
}

.item-card .info-area .info p {
    color: rgba(255, 255, 255, .49);
}

.item-card .actions {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: .85rem;
}

.item-card .actions .info {
    color: rgba(255, 255, 255, .49);
    margin-right: 1rem;
    cursor: pointer;
    transition: .3s;
}

.item-card .actions .info:hover {
    color: rgba(255, 255, 255, 1);
}

.item-card .actions .start {
    color: var(--learn-primary);
    margin-left: .2rem;
    cursor: pointer;
    transition: .3s;
    font-weight: bold;
}

.item-card .description {
    color: var(--learn-white);
    font-size: .85rem;
    line-height: 1.6;
    padding-top: 1rem;
}

.item-card .delete-icon {
    color: var(--learn-white);
    font-size: 1rem;
    margin-left: 1rem;
    cursor: pointer;
}

.item-card a {
    text-decoration: none;
}

.collapsed {
    height: 0;
    overflow-y: hidden;
}

@media(max-width: 767px) {
    .item-card .actions {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 1rem 0;
    }

    .item-card .actions .info {
        margin-bottom: 1rem;
    }

    .item-card .actions .delete-icon {
        margin-left: 0;
        margin-top: 1rem;
        margin-bottom: 0;
    }

    .item-card .info-area .info h3 {
        color: var(--learn-white);
        font-size: 1.05rem;
        margin-bottom: .4rem;
    }

    .item-card .info-area {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .item-card .info-area .item-icon {
        margin-bottom: .4rem;
    }
}