body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --learn-primary: #FF526D;
  --learn-secondary: #636384;
  --learn-secondary-dark: #1E1E42;
  --learn-background: #11102F;
  --learn-background-dark: #0B0B27;
  --learn-white: #FFFFFF;
}
